<ul>
    <h1>Pokemon Catalogue Page</h1>
    <li class="all" *ngFor="let result of  pokemons.results; let i = index">
        <div class="pokemon">
          <img [src]="result.pic" />
          {{ result.name }}
        </div>

        <!-- Button add -->
        <div *ngIf="result.isCollected==false; else elseBlock" >
          <button (click)="this.onAdd( i)">
            Add
          </button>
        </div>
        <ng-template  #elseBlock>
          <button color="red" >
            Collected
          </button>
        </ng-template>
        <!-- More Info Button -->
        <button id={{i}} (click)="pokemonShowMore(i)">
          Info
        </button>
        <div *ngIf="showMoreInfo(i)" >
          <li *ngFor="let pokemon of result.pokemon ">
            <div class="moreInfoShow">
              <h4> Height: {{ pokemon.height }} </h4>
              <h4> Weight: {{ pokemon.weight }} </h4>
              <h4> BaseStats: {{ pokemon.stats }} </h4>
            </div>
          </li>
        </div>
    </li>

</ul>
