<h3>Trainer page </h3>

<div>
    <h4>Your pokemons:</h4>
    <ul>
        <div *ngFor="let poke of pokList.result">

            <button value={{poke.id}} (click)="this.onDelete(poke.name, poke.id)">Remove</button>
            {{poke.name}}
            <img
            [src]="poke.src"
          />
        </div>
    </ul>
</div>