<h1>Login</h1>

<form #createForm="ngForm" (ngSubmit)="onSubmit(createForm)"  >
    <input type="text"
    ngModel
    name="username"
    required
    placeholder="Write username"/>
    <button type="submit">
        Login
    </button>

</form>

